/* CSS files add styling rules to your content */

body {
  font-family: "Josefin Sans", sans-serif;
}

.title{
  background-color:#6C0E0C;
  height:40px;
  width:140px;
  border-radius:30px;
  color:white;
  text-align:center;
  padding-top:18px;
  paddinf-bottom:8px;
  margin-left:130px;;
}

.paragraph{
  text-align:center;
  color:white;
}

.roles{
  color:white;
  margin-left:170px;
  margin-bottom:8px;
}

.each-role{
  text-align:center;
  color:white;
  margin:0;
}