body{
  font-family:'Josefin Sans', sans-serif;
  text-align:center;
}

.total{
  text-align:left;
}

.byo{
  text-align:center;
  background-color:#6C0E0C;
  border-radius:15px;
  padding:1px;
  text-color:white;
}