
/* CSS files add styling rules to your content */

body{
font-family: 'Josefin Sans', sans-serif;
}
.title{
  background-color:#6C0E0C;
  height:40px;
  width:160px;
  border-radius:30px;
  color:white;
  text-align:center;
  padding-top:22px;
  paddinf-bottom:14px;
  margin-left:120px;
}

.cart-button{
  background-color:#D34F09;
  color:white;
  height:30px;
  width:140px;
  text-align:center;
  padding-top:14px;
  border-radius:30px;
}

.menu{
 display:grid;
 grid-template-columns:repeat(2,1fr);
}
